@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 22pt;
}

h1 {
  font-size: 200%;
}

.top-nav {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;

  div {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-content: center;
    margin: auto 20px;
    align-items: center;
  }

  img {
    height: 50pt;
  }
}