@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: Roboto;
  letter-spacing: 0.05em;
  background-color: #f8f8f8;
  margin: 0px;
}

// Nav Bar
.top-nav {
  position: relative;
  position: sticky;
  padding: 10px;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  height: 60px;
  width: 100vw;
  width: fill;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
  background: rgba(252, 252, 252, 1);
  font-family: roboto;

  .search-container {

    position: absolute;
    left: 28.12%;
    right: 28.12%;
    top: 25.84%;
    bottom: 26.97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-content: center;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      place-content: center;
    
      width: 100%;
      
      .search{
        width: 100%;
        align-self: center;
        height: 42px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.4);
        box-sizing: border-box;
        padding-left: 10px;
        border-radius: 3px;
      }
    }
  }

  div {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    align-content: center;
    margin: auto 20px;
    align-items: center;

    .logo-pic {
      height: 35px;
      width: auto;
      margin-left: 12px;
    }
  }


  .text span {
    text-decoration: none ;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: rgba(42, 136, 27, 1);
    
  }
  
  .text {
    margin-left: 0px;
    width: auto;
    justify-content: flex-end;
    .pokemon{
      height: 100%;
      width: auto;
      margin-left: 20px;
      border-radius: 100%;
       
    }  
  }
  

}




// Register
.Register-card {
  background-color: rgba(252, 252, 252, 1);
  height: auto;
  width: fit-content;
  border-radius: 3px;
  margin: auto;
  margin-top: 100px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  
    .Input-R{
      border: 1px solid rgba(0, 0, 0, 0.4);
      background: rgba(255, 255, 255, 1);
      height: 50px;
      width: 100%;
      padding-left: 20px;
      margin-bottom: 20px;
      font-size:20px;
    }
    .button{
      height: 43px;
      width: 149px;
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      background: #2A881B;
      border-radius: 2px;
      color: #FFFFFF;
      border: none;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    span {
      color: #C00;
      margin-bottom: 20px;
    }
    .button:disabled{
      background-color: #cccccc;
      color: #666666;
    }
  }

  a {
    text-decoration: none;
    color: #333;
    align-self: flex-start;
  }
  .google-sign-in-div {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10%/50%;
    cursor: pointer;
    padding: 15px;

    img {
      height: 30px;
    }
    span {
      font-size: 20px;
      font: bold;
      margin-left: 20px;
    }
  }
}

// Module Card
.module-card {
  height: auto;
  width: 100%;
  border-radius: 3px;
  background: rgba(252, 252, 252, 1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
 
  .message-saved{
    z-index: 100;
    border-radius: 3px;
    background: rgba(252, 252, 252, 1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    width:50%;
    margin-left:-12%;
    
    .message-heading {
      padding: 20px 20px 10px;
      border-radius: 3px 3px 0 0;
      background: #2A881B;
      border-radius: 3px 3px 0 0;
      position: relative;
    }
    h3{
      padding-left: 20px;
      padding-bottom: 10%;
    }
  }
  .s-c-heading {
    padding: 20px 20px 10px;
    background: rgba(0, 130, 127, 1);
    border-radius: 3px 3px 0 0;
    background-color: rgba(0, 130, 127, 1);
    border-radius: 3px 3px 0 0;
    position: relative;

    .likes{
      position: absolute;
      z-index: 50;
      top: 0px;
      right:0px;
    }
    h1 {
      font-family: Roboto;
      margin-block-start: none;
      margin-block-end: none;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: 42px;
      letter-spacing: 0em;
      color: #ffffff;
      margin: 0;
      display: inline-block;
    }
    a {
      color: white;
      text-decoration: none;
      padding: 0px;
      font-size: 20px;
    }
  }

  .HTML{
    background-color: red;
  }
  .JavaScript{    
    background-color: rgb(232, 181, 14, 1);
  }
  .Python{    
    background-color: rgb(42, 86, 168);
    color: white;
  }
  .Ruby{    
    background-color: rgb(170, 15, 15);
    color: white;
  }
  .Cplus{    
    background-color: rgb(116, 3, 3);
  }
  .C{    
    background-color: rgb(144, 163, 199) ;
  }
  .CSS{    
    background-color:rgb(0, 61, 173);
  }
  .CSharp{
    background-color: rgb(79, 23, 151);
  }
  .s-c-info{
    margin-bottom: 10px;
  }
  .steps-list{
    margin-left: 20px;
  }
  li{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  ul {
    list-style-type: none;
    font-family: roboto;
  } 
  p {
    font-family: Roboto;
    margin: 20px;
  }
  a{
    font-family: roboto;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: rgba(42, 136, 27, 1);
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    display: block;
    margin-top: 1.5em;
    margin-bottom: 10px;
  }
}

// Module Design
.module{
  height: auto;
  min-width: 900px;
  width: 40vw;
  background-color: #FCFCFC;
  margin: 50px auto;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  
  .h-module{
    background-color: #2A881B;
    height: 80px;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background: rgba(0, 130, 127, 1);
    background-color: #2A881B;
    border-radius: 3px 3px 0 0;
    position: relative;

    .likes{
      z-index: 50;
      float: right;
    }
    .savedNumber{
      float: right;
    }
  }

  h1{
  color: rgba(255, 255, 255, 1);
  margin-left: 50px;
  font-family: roboto;
  margin-top: 10px;
  margin-block-end: 5px;
  }
  h5{
  color: rgba(255, 255, 255, 1);
  margin-left: 50px;
  font-family: roboto;
  }
  h3{
    font-family: roboto;
    padding-left: 50px;
  }
  p{
    font-family: roboto;
    padding-left: 50px;
    padding-right: 50px;
  }
  a{
    text-decoration: none;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: rgba(42, 136, 27, 1); 
    font-family: roboto;
  }
  .text{
    padding-left: 50px;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .react-tiny-link {
    padding-left: 50px;
    margin-bottom: 40px;

    a {
      color: black;
    }
  }
  .message {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    top:0;
    left:0; 
    z-index: 10; 
    padding: 50px;
  
    &-content{
      background: #ffffff;
      height: auto;
      width:40vw;
      font-family: roboto;
      text-align: center;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
      padding-right:15px;
      width:20%;
      padding-right: 30px;
    }
  }
}

// Comments
.comments{
  .title{
    font-family: Roboto;
    font-size: 20px;
    font-style: bold;
    font-weight: 400;
    line-height: 19px;
    color: #333;
  }
  .user-name{
    font-style: Light;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 2px;
    text-decoration: underline;
  }
  .single-comment{
    padding-top: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
    }
  .add-comment{
    padding-top: 10px;
    padding-bottom: 5px;
    }
  .add-comment-input{
    padding-left: 5px;
    margin-left: 50px;
    font-family: roboto;
    overflow: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
  }
  .button{
    height: 35px;
    width: 149px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    background: #2A881B;
    border-radius: 2px;
    color: #FFFFFF;
    border: none;
    margin-bottom: 20px;
    margin-left: 5.5%;
    margin-top: 10px;
    padding-top: 16px;
    text-align: center;
  }
}
  
//   _____ _____  ______       _______ ______   __  __  ____  _____  _    _ _      ______ 
//  / ____|  __ \|  ____|   /\|__   __|  ____| |  \/  |/ __ \|  __ \| |  | | |    |  ____|
// | |    | |__| | |__     /  \  | |  | |__    | \  / | |  | | |  | | |  | | |    | |__   
// | |    |  _  /|  __|   / /\ \ | |  |  __|   | |\/| | |  | | |  | | |  | | |    |  __|  
// | |____| | \ \| |____ / ____ \| |  | |____  | |  | | |__| | |__| | |__| | |____| |____ 
//  \_____|_|  \_\______/_/    \_\_|  |______| |_|  |_|\____/|_____/ \____/|______|______|

.module-card-difficulty {
  text-align: right;
  float: right;
  margin-bottom: 0.5em;

  .colored-difficulty {
    margin-right: 3em;
  }
  h5 {
    margin-bottom: 0px;
    margin-right: 2em;
  }
  h2 {
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 0.3em;
    text-align: center;
  }
}

.create-module {
  width: 1000px;
  max-width: 100vw;
  margin: 30px auto;
  background: #FFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);  
  padding: 60px 70px;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 200%;
    font-family: roboto;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 20px;
    color: #424242;
  }
  h3 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #424242;
  }
  .title-input {
    width: 100%;
    font-size: 30pt;
    margin-bottom: 20px;
  }
  .description-input {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
  }
  .radio {
    width: auto;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background: #EEE;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    margin-right: 20px;
    opacity: 70%;
    span {
      font-weight: bold;
    }
    img {
      height: 24px;
      opacity: 70%;
      margin-right: 10px;
    }
  }
  .red {
    color: rgb(216, 0, 0);
  }
  .yellow {
    color: rgb(216, 194, 0);
  }
  .green {
    color: #2A881B;
  }
  .radio:hover {
    background-color: #c9c9c9;
  }
  .radio:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: relative;
    top: 2px;
  }
  .selected {
    background-color: rgb(255, 255, 255) !important;
    opacity: 100% !important;
    
    img {
      opacity: 100% !important;
    }
  }

  .radio-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  
  .duration-input {
    margin-bottom: 20px;
    width: auto;
    font-size: 16pt;
  }

  .add-element-button-div {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin: 20px 0px;

    .add-element-button {
      cursor: pointer;
      padding: 10px;
      background: #FFFFFF;
      box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      margin-right: 20px;
      color: #2A881B;
    }

    .add-element-button:hover {
      padding: 10px;
      background: #f3f3f3;
      box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      margin-right: 20px;
    }
  }
  .step-spacer {
    height: 70px;
  }
  .element-input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  .heading-input{
    font-size: 18pt;
    margin: 5px 0px;
  }
  .paragraph-input{
    font-family: 'Roboto', sans-serif;
    min-height: 100px;
    margin: 5px 0px;
  }
  .link-input {
    margin: 5px 0px;

    input {
      display: block;
      background-color: #ffffff;
      border: none;
      border-radius: 2px;
      padding: 3px;
      width: 75%;
    }
  }

  .input-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    padding: 8px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .edit-element-div {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    
    .edit-element-button {
      cursor: pointer;
      margin: 10px 10px 20px ;
      color: grey;
    }

    .edit-element-button:hover {
      color: black;
      font: 600;
    }
  }

  .submit-button {
    background-color: rgba(42, 136, 27, 1);
    width: fit-content;
    padding: 20px;
    font-size: 30px;
    color: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.15);
    align-self: flex-end;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: rgb(34, 117, 21);
  }

  .submit-button:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 2px;
  }
}

#duration-and-saved {
  margin-top: 0;
}
  
  #duration-display {
    text-align: right;
    float: right;
    margin-top: 0;
    margin-right: 4em;

  }
  
  #num-users-saved{
    text-align: left;
    float: left;
    margin-top: 0;
  }

//CATEGORIES TABLE
.results-page{
  display: grid;
  grid-template-columns: [start]30% [line1] 40% [line2]30%[end];
  
  .column {
    padding: 30px;
  }
  .left {
    grid-column-start: start;
    grid-column-end: line1;

    .categories-table{
      background-color: #FFFFFF;
      border-radius: 3px;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
      width: 60%;

      .title {
        padding: 0px 10px;
        border-radius: 3px 3px 0 0;

        h4, h3, h2, h1 {
          padding: 10px;
          font-size: 30px;
          margin-block-start: 0px;
          margin-block-end: 0px;
          color: black;
        }
      }
    }
      
    .categories {
      padding: 10px;
      
      a {
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
      }
      .single-category {
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        border-radius: 2px;
        width: 100%;
        
        span {
          font-size: 18px;
          font-weight: bolder;
          margin-left: 20px;
          margin-block-start: 0px;
          margin-block-end: 0px;
        }
        img {
          height: 24px;
        }
      }
      .single-category:hover {
        background-color: rgb(219, 219, 219);
        cursor: pointer;
      }
    }
  } 
    .search-results{
      grid-column-start: line1;
      grid-column-end: line2;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      
      .no-matches-message{
        margin-top: 7em;
        margin-bottom: 7em;
        text-align: center;
        font-size: 20px;
    }
  }
}

// MODULE CREATED
.module-created-card {
  margin-top: 10%;
  padding: 60px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.module-created {
  display: flex;
  justify-content: center;
}
.module-created-success {
  justify-content: center;
  max-height: 6em;
  max-width: 6em;
}

  a{
    color:rgb(34, 117, 21);
    text-decoration: none;
  }
  a:visited{
    color: rgb(34, 117, 21);
  }

// PROFILE PAGE 
.profile-page {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  grid-template-areas: "left middle right";

  .left {
    grid-area: left;

    .profile-options-box {
      background-color: #FFFFFF;
      border-radius: 3px;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
      width: fit-content;

      .heading {
        padding: 0px 10px;
        border-radius: 3px 3px 0 0;

        h4, h3, h2, h1 {
          padding: 10px;
          font-size: 30px;
          margin-block-start: 0px;
          margin-block-end: 0px;
          color: black;
        }
      }
      .options {
        padding: 10px;
        
        a {
          text-decoration: none;
          color: black;
        }
        .single-option {
          padding: 10px;
          margin: 5px;
          display: flex;
          align-items: center;
          border-radius: 2px;
          
          span {
            font-size: 18px;
            font-weight: bolder;
            margin-left: 20px;
            margin-block-start: 0px;
            margin-block-end: 0px;
          }
          img {
            height: 24px;
          }
        }
        .single-option:hover {
          background-color: rgb(219, 219, 219);
          cursor: pointer;
        }
      }
    }
  }

  .middle {
    display: flex; 
    flex-direction: column;
    align-items: center;
    grid-area: middle;
  }
  .right {
    grid-area: right;
  }
  .column {
    padding: 30px;
    height: 100vw;
  }
}

//HomePage
.homepage{

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search{
    height: 42px;
    width: 630px;
    top: 25.84%;
    bottom: 26.97%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-top: 50px;
    text-align: center;
    border-radius: 3px;
    }
    h1{
      text-align: center;
    }
    .homepage-logo{
     text-align: center;
     margin-top: 5vh;
    }
}

input{
  font-family: roboto;
  font-size: 20px;
}

.popup {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
  ;
  backdrop-filter: blur(10px);
  position: fixed;
  top:0;
  left:0; 
  z-index: 10; 
  padding: 50px;

  &-inner{
    background: #ffffff;
    height: auto;
    width:40vw;
    font-family: roboto;
    text-align: center;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  }

  .button{
    height: 43px;
    width: 149px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    background: #ff0000;
    border-radius: 2px;
    color: #FFFFFF;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .delete{
    background: #2A881B;

  }
}

.link{
  margin-bottom: 0px;
  p{color: #2A881B;
    cursor: pointer;
    text-align: center;
  }
  a{
  text-align: center;
  }
}


.trashCan{
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 50;
  float: right;
  cursor: pointer;
}
