@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 22pt;
}

h1 {
  font-size: 200%;
}

.top-nav {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  height: 60px;
  width: fill;


  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
  background: rgba(252, 252, 252, 1);


  
  div {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-content: center;
    margin: auto 20px;
    align-items: center;
  }
  
  img {
    // height: 50pt;
    height: 29.909408569335938px;
    width: 74px;
    // left: 56px;
    // top: 29px;
    // border-radius: 0px;

  }
}

.create-module, 
.create-module .elements {
  display: flex;
  flex-direction: column;
  
}

.create-module {

  .category-container {
    display: flex;
    flex-direction: row;

    .category-card {
      background-color: #dddddd;;
      margin: 10px;
      padding: 10px;
    }
  }
}



  .search{
    height: 42px;
    width: 630px;
    left: 28.12%;
    right: 28.12%;
    top: 25.84%;
    bottom: 26.97%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
          
    }

  .text a {
    text-decoration: none;

    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: rgba(42, 136, 27, 1);
}


.create-module {
  margin: 0 30%;
  background-color: rgb(203, 255, 255);
}

.element-input-div {
  display: flex;
  flex-direction: center;
  align-items: center;
  background-color: rgb(205, 232, 255);
}

.element-input {
display: block
}

.delete-element {
  display: block;
  background-color: green;
}

.button {
  background-color: ;
}
