@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 22pt;
}

h1 {
  font-size: 200%;
}


// Nav Bar

.top-nav {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  height: 60px;
  width: fill;


  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
  background: rgba(252, 252, 252, 1);


  
  div {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-content: center;
    margin: auto 20px;
    align-items: center;
  }
  
  img {
    // height: 50pt;
    height: 29.909408569335938px;
    width: 74px;
    // left: 56px;
    // top: 29px;
    // border-radius: 0px;

  }
}

.create-module, 
.create-module .elements {
  display: flex;
  flex-direction: column;
  
}

.create-module {

  .category-container {
    display: flex;
    flex-direction: row;

    .category-card {
      background-color: #dddddd;;
      margin: 10px;
      padding: 10px;
    }
  }
}



  .search{
    height: 42px;
    width: 630px;
    left: 28.12%;
    right: 28.12%;
    top: 25.84%;
    bottom: 26.97%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
          
    }

  .text a {
    text-decoration: none;

    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: rgba(42, 136, 27, 1);
    
 }

// register

.Register-card{
background-color: rgba(252, 252, 252, 1);
height: 352px;
width: 643px;
border-radius: 3px;
flex: left 50%;
margin: auto;

  h1{
    margin-left: 5%;
    text-align: center;
  }
  .Input-R{
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 1);
    height: 50px;
    width: 205px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    font-size:20px;
  }
}



// register

.Register-card{
background-color: rgba(252, 252, 252, 1);
height: 352px;
width: 643px;
border-radius: 3px;
flex: left 50%;
margin: auto;

  h1{
    margin-left: 5%;
    text-align: center;
  }
    
  .Input-R{
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 1);
    height: 50px;
    width: 205px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    font-size:20px;
  }
}

.button{
  height: 43px;
  width: 149px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
  margin-left: 42%;
  margin-top: 10px;

  
  background: #2A881B;
  border-radius: 2px;
  color: #FFFFFF;
  border: none;
  

}

.element-input-div {
  display: flex;
  flex-direction: center;
  align-items: center;
  background-color: rgb(205, 232, 255);
}

.button {
  height: 43px;
  width: 149px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);
  margin-left: 42%;
  margin-top: 10px;

  
  background: #2A881B;
  border-radius: 2px;
  color: #FFFFFF;
  border: none;
}

.element-input {
  display: block;
}

.delete-element {
  display: block;
  background-color: green;
}